[2014-02-19 21:57] heliostatic opened #8 "Clicking confirm does not pass the click through to the initiating element."

[2014-03-10 10:10] #8 closed, assigned to nobody

[2014-03-28 20:54] jeffreylammers opened #11 "Modal not showing with Rails 3.2 / Bootstrap 2.3.2 with latest version"
I did a bundle update today and noticed that the lastest version does not show the modal dialog for me.  Debugging revealed that the div is added to the DOM, but it does not get displayed (zindex issue?).

Rails 3.2.x
Bootstrap 2.3.2

Pointing the gem entry specifically at the bootstrap2 branch works fine.

Is this expected?

My current gem entry:
gem 'data-confirm-modal', github: 'ifad/data-confi

[2014-03-28 22:13] #11 closed, assigned to nobody

[2014-04-08 18:50] dereklucas opened #12 "Triggering twice without refresh doesn't work"
I have a subscribe/unsubscribe link that looks a little like this:
[code]
Switching the display state of the links based on subscription status.
If I Unsubscribe once, I get the correct modal.
If I then subscribe and unsubscribe again without refreshing the page, I get the browser dialog. It's as if the event is being attached with jQuery's one() function..

I'm also using https://github.com/jschr

[2014-07-14 04:41] kibaekr opened #13 "How would I create a delete popup where the use has to explicitly type "DELETE" in order to delete?"
Just as the question states, how would I create a delete popup where the use has to explicitly type "DELETE" in order to delete?

I don't want this to be applied to all the require confirm popups that I have throughout my app, just on a particular delete button. In the readme I only see how I can set global settings.

[2014-10-13 12:45] rebdev opened #14 "Suggestion for the documentation"
Hey guys, can I suggest adding a "how to use it" example to the documentation? Specifically the need to include the method in the link stumped me for a bit, hehe. :p Might help someone else to have it noted explicitly. Thanks for the great gem!

[2014-12-08 15:23] magicmarkker opened #15 "Call from javascript"
Is there a way to call this inside a js or coffee file instead of using the js confirm?

for example, I want to use this instead of the confirm below:

[code]

[2014-12-08 17:08] #13 closed, assigned to nobody

[2014-12-08 19:36] #15 closed, assigned to nobody

[2015-01-12 23:06] jordigg opened #19 "Modal isn't on top of everything"
The current js checks if there is any other elements with class ".modal.in" and sets the z-index to be on top of this one but if there are other elements with higher z-indexes it remains on "z-index:1".

That's the function. I would remove it and leave it using a high z-index set via CSS or check all elements and setup the z-index to be on top of all of them or at set the "highest" value to someth

[2015-01-12 23:38] vjt commented on #19
Fixed in #20

[2015-01-12 23:38] #19 closed

[2015-01-20 15:12] magicmarkker commented on #12
I've been able to reproduce this in a rails app that doesn't use bootstrap modal. On confirm, it doesn't continue to the link provided in the href as well.

    <a class="btn btn-default " data-confirm="Are you sure you want to make this Poll visible? Doing so will wipe all answers." href="http://bedev.local:3000/workrooms/1/surveys/9/visible">
      <span class="icon icon_mbm-visible-on visible a

[2015-02-09 05:26] cmcguff opened #21 "Problem with data-verify-text in Rails 4 / Bootstrap 3"
I can get the verify box working, but I can't see how to get the verify-text option working in rails, i have the following without the label:

    <%= link_to('Delete', leave_type, title: 'Delete Transaction Type', data: { method: 'delete', verify: 'Yes', commit: "Yes, Delete it", confirm: "Are you sure you want to delete the Transaction Type for <b>#{leave_type.name}</b>?" })  %>

I'm a bit lost

[2015-04-01 05:35] VladimirTS opened #24 "Change background of buttons"
Does possibility exist to change background of buttons with options?

[2015-04-01 06:10] vjt commented on #24
Not with options, but via CSS :)

[2015-04-01 15:59] VladimirTS commented on #24
@vjt I tried, but can not override styles for buttons

[2015-07-15 14:21] thiensubs opened #27 "Modal not show correct opacity"
![error](https://cloud.githubusercontent.com/assets/2623569/8700655/57a6f784-2b37-11e5-8a58-b203278521fc.png)
When confirm dialog show. It not show correct show dialog modal.
Please help me fix it.

[2015-07-28 17:30] cschulte22 commented on #24
You can change it with options - data-commit-class and data-cancel-class can be used to specify the bootstrap class for the button.  For example, this will you give you a bootstrap primary button (blue by default):

[code]

[2015-07-28 18:56] vjt commented on #24
Thanks, @cschulte22! :beers:

[2015-10-03 00:44] jackerman09 opened #30 "Not Following Link After Confirm"
I am using rails, and after clicking the link and confirming it does not follow the link. Here's the link code:

    <td><%= link_to 'Cancel Appt', cancel_appointment_path(appointment), class: 'btn btn-default btn-xs btn-danger btn-disable-after-click', data: { confirm: "Are you sure you want to cancel the appointment?", commit: 'Yes', cancel: 'No' } %></td>

This is called `after_click` so that t

[2015-11-10 16:34] gauthier-delacroix opened #31 "Focus on the verify input"
Hi,

It would be nice to automatically focus on the verify input when opening a confirm modal with the verify feature !

[2015-11-10 17:22] vjt commented on #31
Definitely makes sense.

[2015-11-10 21:34] jdugarte opened #32 ""form-control" as default for verifyClass"
First of all: thanks for this gem! I was about to build something similar when I found it 😁

I was wondering: why isn't "form-control" set as default for verifyClass, being this a bootstrap styled gem? I know I can set it like this:

dataConfirmModal.setDefaults({
    verifyClass: 'form-control',
});

but I would have thought this to be the default already, again, being this a bootstrap styled gem

[2015-11-11 09:58] #24 closed

[2015-11-13 16:51] vjt commented on #32
That makes perfect sense. Done, thank you.

[2015-11-13 16:51] #32 closed

[2015-11-13 16:53] jdugarte commented on #32
@vjt Thanks! 😁

[2015-11-13 16:55] vjt commented on #31
This was actually a regression, now fixed. Thank you.

[2015-11-13 17:00] vjt commented on #21
Ciao @cmcguff, you should use `verify_text:`. Rails changes underscores to hyphens automatically when composing data attributes in HTML tags.

Cheers,

~Marcello

[2015-11-13 17:00] #21 closed

[2015-11-13 17:11] vjt commented on #21
I've added this information to the README :-)

[2015-11-13 17:11] vjt commented on #14
I've added some more info. What do you think?

[2015-11-18 16:35] vjt commented on #30
@jackerman09 - @sromocki kindly provided a fix this, does it fix the issue for you?

Thanks both!

[2015-11-18 17:46] jackerman09 commented on #30
@vjt Thanks for letting me know, but after I could not get that to work I switched to using this gem 'twitter-bootstrap-rails-confirm'.

[2015-11-26 18:07] gauthier-delacroix commented on #31
Doesn't seems to work on my side...

[2016-01-04 03:06] gilomen2 opened #34 "Not working on Heroku"
This is working perfectly locally, but when pushed to Heroku, confirms are still using the browser default.

Herkou appears to have found the gem correctly:
``Using data-confirm-modal 1.1.0 from git://github.com/ifad/data-confirm-modal.git (at master)``

[2016-01-04 03:23] gilomen2 commented on #34
Sorry, the issue was with not having precompiled assets before pushing to Heroku.

[2016-01-04 03:23] #34 closed

[2016-01-14 15:48] vjt commented on #34
ok, thanks anyway for taking the time to report. This issue is anyway gonna be useful for posterity stumbling upon the same problem :smile:

[2016-01-14 15:50] vjt commented on #31
@gauthier-delacroix can you please post a [jsfiddle](https://jsfiddle.net/) reproducing the problem? Thanks :smile:

[2016-01-14 15:51] vjt commented on #14
Closing for now :)

[2016-01-14 15:51] #14 closed

[2016-02-09 05:20] kntmrkm opened #35 "Implementation for Semantic-UI"
I'm using this gem for bootstrap's project.

I like this gem, so I have forked for Semantic-UI.
http://semantic-ui.com

If you don't mind, add my forked gem to original README.

https://github.com/kntmrkm/data-confirm-modal-semantic-ui

thanks.

[2016-02-27 23:24] Nekromancer opened #36 "Push to RubyGems?"
Is there any option that you push that gem into RubyGems? I have very unfortuate server that can't do bundle install if there are any dependencies directly from git (some kind of git error. And git binaries are quite old...)

[2016-04-27 13:46] trautwein commented on #36
I just published the Gem on RubyGems, see https://rubygems.org/gems/data-confirm-modal

Hope you're fine with that. Please let me know if you want to take over ownership.

[2016-04-27 13:52] vjt commented on #36
Thanks, man. Yes, please, can you add `vjt at openssl dot it` as an owner? :beers:

[2016-04-27 13:57] trautwein commented on #36
Done! 👍

[2016-06-21 15:45] kntmrkm commented on #12
any update?

[2016-06-21 16:08] vjt commented on #12
Hi @kntmrkm, thanks for the heads up. I will try to give this a spin in the coming days.

[2016-06-22 15:44] caycehouse commented on #12
#modal-content is cleared after model is dismissed, therefore there is nothing to display.

[2016-06-22 22:17] #12 closed

[2016-06-22 22:17] #30 closed

[2016-06-22 22:18] vjt commented on #12
Thanks everyone involved in tracking this down. Please try the latest v1.2.0 and let me know if it works for you :-)

[2016-06-22 22:20] vjt commented on #36
Thanks! Pushed the new v1.2.0 :-)

[2016-06-22 22:20] #36 closed

[2016-06-22 22:21] vjt commented on #35
Hi @kntmrkm - what is your proposal in merging the two projects so to have a single codebase?

[2016-06-22 22:22] vjt commented on #12
Moreover, please see http://jsfiddle.net/zpu4u6mh/ for an example using Rails remote links. Please let me know if there are still scenarios breaking the code expectations.

[2016-06-22 22:24] vjt commented on #31
Here it is the jsfiddle: http://jsfiddle.net/8sduncgd/1/ and it looks working properly for me. Please reopen if it still doesn't work for you.

[2016-06-22 22:24] #31 closed

[2016-06-22 22:25] vjt commented on #27
Please try setting an higher `z-index` using the setDefaults call:

[code]

[2016-06-22 22:25] #27 closed

[2016-06-23 01:07] kntmrkm commented on #35
It's just report to forked.
Not merge.
if add information for `Semantic-UI` to README. Semantic-ui user would notice existence of Semantic-ui version.

That's all.

[2016-06-23 01:07] #35 closed

[2016-07-04 07:13] pakkawat opened #40 "data-title not working"
I try to set title with this code `<%= link_to 'Delete', data: {title: "test", confirm: 'Are you sure?'} %>`
It not work and alway show "Are you sure?"
So i looking in your code and i suspect this line

`title:        element.attr('title') || element.data('original-title')`

Then i test it with this code `<%= link_to 'Delete', title: "test", data: {confirm: 'Are you sure?'} %>` and it work

sorry

[2016-07-05 03:30] dapicester commented on #40
That is exactly how it is supposed to work. In fact from the README:

[2016-07-05 12:47] vjt commented on #40
That's correct. I have nothing against adding `data-title`, though, but I'd like some input from other users first.

Thanks for reporting! 😃

[2016-07-06 03:10] dapicester commented on #40
I bumped into this yesterday and my use case is the following:

I use `title` attribute to show a tooltip (actually using Bootstrap):
[code]
In the code above `title` would be used for the tooltip text _and_ the modal title, which is not what I want.

So I ended up adding the tooltip to the wrapper element:
[code]

While this works fine, it would be very useful if one could set the modal title usi

[2016-07-12 18:36] westonganger commented on #40
+1

[2016-08-08 08:40] promentus opened #41 "Button size"
Is it possible to add btn-sm to the buttons? And change the red color for example?

[2016-08-08 13:53] vjt commented on #41
Hi! Yes, you can either set `data-commit-class` and `data-cancel-class` in the HTML, or you can pass `commitClass` and `cancelClass` when configuring the modal via JS.

[2016-08-09 05:03] promentus commented on #41
Perfect

[2016-08-09 05:03] #41 closed

[2016-08-09 05:31] chamnap opened #42 "How to override the default close icon?"
I would like to override the default close icon to use google material icon `<i class='material-icons'>clear</i>`. Is there any callbacks before the modal is shown so that I could inject the above html code. Or do you have any suggestions to do so?

Appreciate your response!

[2016-09-02 10:13] vamsipavanmahesh opened #43 "jquery-ujs non-GET requests not working"
The url went like this http://localhost:3000/cart/10fb416e-a97b-4cf6-9501-fd4417669b2b

[code]

//= require data-confirm-modal if i remove this line, everything works fine.

[2016-09-26 07:03] 6temes opened #44 "Modal class name between _fade_ and _in_"
If the option `modalClass` is used, the class name sits in between the class _fade_ and the class _in_.

It does not affect any functionality, but it is unaesthetic.

![screen shot 2016-09-26 at 16 00 04](https://cloud.githubusercontent.com/assets/5655861/18825320/c9e618aa-8402-11e6-9387-2bf0c7917014.png)

[2016-09-28 09:30] #44 closed

[2016-09-28 09:39] lucaspiller commented on #42
Hi @chamnap. Unfortunately there isn't a way to override it. We are using the [standard Bootstrap close icon](http://getbootstrap.com/css/#helper-classes-close). You might be able to use CSS to change it with some `content` and `after` trickery. Otherwise feel free to send a PR to allow it be changed!

[2016-09-28 09:39] #42 closed

[2016-09-28 09:44] lucaspiller commented on #43
The way this works with `jquery-ujs` is to hook into the `confirm` event, run our code, then afterwards hopefully reset to what was there originally - in your case Rails' trickery, to allow the delete action to be called:

https://github.com/ifad/data-confirm-modal/blob/master/vendor/assets/javascripts/data-confirm-modal.js#L287-L298

Check that you have `jquery-js` before `data-confirm-model` in

[2016-09-28 09:55] lucaspiller commented on #43
I just tested it, I have the following and it works correctly:

[code]

Check the order of files in your application.js, it should be:

1. jquery
2. jquery-ufs
3. bootstrap
4. data-confirm-modal

[2016-09-28 09:55] #43 closed

[2016-09-28 09:56] lucaspiller commented on #40
If anyone would like this implemented, feel free to send a PR, and you'll get magic points!

[2016-10-17 15:37] #40 closed

[2016-10-26 07:22] galievruslan opened #47 "data-title attribute don't work"
Hello
[code]
Is used in the link attribute data-title, but the title he did not appear.
Everything else works fine. Thanks

[2016-10-26 07:33] galievruslan commented on #47
Strange, but it earned after a server restart.

[2016-10-26 07:33] #47 closed

[2016-12-26 04:18] 6temes opened #48 "Version 1.3.0?"
The master branch of the gem has a feature that allows the class of the modal to be selected using a `data attribute`:

https://github.com/ifad/data-confirm-modal/blob/master/vendor/assets/javascripts/data-confirm-modal.js#L98

Apparently, it was introduced after the release of v. 1.2.0 but, in my opinion, this feature is important enough to deserve its own version.

Would it be possible to releas

[2017-01-06 15:04] vjt commented on #48
Hi @6temes,

thanks for the heads up. Version 1.3.0 has been [pushed to RubyGems](https://rubygems.org/gems/data-confirm-modal/versions/1.3.0).

Cheers,

[2017-01-06 15:04] #48 closed

[2017-05-29 00:00] Mesnet opened #50 "Duplicate alert rails 5"
Hi guys, thanks for this gem I love it !!
I've just updated to rails 5 and I'm encountering a problem since that. The template is working but when I click on continue, the default modal (not deigned) appear. So I have to click two times on validate. Someone has already had the same problem ?

[2017-07-16 18:11] haurbano commented on #50
Hi @Mesnet, I have the same issue, do you found a solution? whether yes, plese tell me it! :D

[2017-07-31 00:37] mvdamme commented on #50
Same problem here...

[2017-07-31 00:59] mvdamme commented on #50
It turns out that data-confirm-modal is not adapted to the new rails-ujs used in Rails 5.
I reverted to using jquery-ujs which fixed the problem (and since I'm using jQuery anyway it comes without overhead).

[2017-08-28 03:28] SunDi3yansyah commented on #50
Yay!

`application.js` should be like this

[code]

maybe **Rails > 5.1** because use `rails-ujs`

Thanks @mvdamme :+1:

[2017-09-21 22:26] CyberDeck commented on #50
To get it working with `rails-ujs` for Rails 5.1, you can give it a try with my pull request #55.

[2017-09-25 03:58] rkbhochalya opened #56 "Bootstrap 4 support?"
I tried to use it with Rails 5.1 and Bootstrap 4 but the default alert messages is showing instead of the modal. There are no JS errors in the console. Do you have any plan to support Bootstrap 4 and Rails 5?

[2017-10-05 16:58] CyberDeck commented on #56
You can try out my pull request #55. Please share your opinions on it. So far no update from official maintainer.

[2017-10-05 18:32] vjt commented on #50
Fixed in #55. Thanks everyone.

[2017-10-05 18:32] #50 closed

[2017-10-05 18:32] vjt commented on #56
Fixed in #55. Thanks everyone!

[2017-10-05 18:32] #56 closed

[2017-10-14 21:06] archonic opened #57 "Using webpacker and yarn, can't get confirm modal"
I'm using the NPM package since I'm using webpacker. When the jQuery selector works and the dataConfirmModal object exists, I'm still getting `$(...).confirmModal is not a function` when calling `$('#delete_link').confirmModal();`. I'm also loading rails-ujs though webpacker, although not including data-confirm-modal isn't giving me a browser confirm. Does this mean I have a rails-ujs loading issu

[2017-10-14 21:39] archonic commented on #57
Turns out I just needed to import and start RailsUJS as a module:
[code]

Now data-confirm-modal is working on objects with the data-confirm attribute, but I noticed that confirmModal() is still not a method on selected objects. This seems to just be a readme issue.

[2017-10-14 22:14] archonic commented on #56
I'm not seeing support for BS4. The modalClass argument ends up colouring the whole background and the title is on the right. Is BS4 support in the roadmap?

![limestone](https://user-images.githubusercontent.com/588846/31579763-3ea47f0c-b0f2-11e7-9473-29f3b29f3c7e.png)

It would be nice to have a template override for the HTML of the modal so we could spin our own support and make any mods we wan

[2017-10-14 22:24] vjt commented on #57
Ciao @archonic,

the NPM package is mostly untested, though the data-confirm-modal code is self-contained so it should work. Anyway, if you are not using `rails-ujs` I am not sure it gives you any benefit from importing it.

I am puzzled by the fact that `confirmModal()` is not available on jQuery objects. As you have the modal behaviour working, the data-confirm-modal source is being loaded and e

[2017-10-14 22:36] archonic commented on #57
Good point - I wasn't loading jQuery right with webpacker. I needed `window.$ = window.jQuery = require('jquery');` in addition to `import 'jquery'`. Thanks!

[2017-10-14 22:36] #57 closed

[2017-10-14 22:37] vjt commented on #57
Cool! Glad to hear it works :-) Thanks for the feedback.

[2017-11-04 13:05] Varek opened #59 "v1.5.0 break Bootstrap 3 modals"
Hi, thanks for this gem, it made replacing confirm alerts with modals a breeze.

The latest version brought Rails 5 and Bootstrap 4 support. In the pull #55 you where wondering about the backward compatibility and said that everything is fine. But I noticed the Bootstrap 4 modal change break the Bootstrap 3 modals.
v1.5.0 with Bootstrap 3 looks like this: ![Broken Bootstrap 3 modal](https://d.pr/i

[2017-11-17 11:49] vjt commented on #59
Thanks for the report. I will look into this. Sorry for the inconvenience.

[2017-11-19 12:50] #59 closed

[2017-11-19 12:53] vjt commented on #59
Hi,

issue fixed and new version released as 1.6.0.

Cheers,

[2017-11-20 14:27] dcecile opened #61 "Remove use of `$.rails` to avoid silent initialization errors"
_(Continued from https://github.com/twbs/bootstrap-rubygem/issues/127...)_

In integrating `data-confirm-modal` into my Rails app, I accidentally used this ordering in my `application.js` file:

[code]

With this ordering `data-confirm-modal` doesn't perform Rails initialization, because `$.rails` wasn't set. I resolved the issue by moving the `//= require jquery3` to the top. With jQuery included

[2017-11-20 15:42] glebm commented on #61
To clarify, in `rails-ujs` this is no longer `$.rails` but `window.Rails`.

You can't rely on `$.rails` because it will be undefined it `rails-ujs` is included before `jquery` (which is possible because `rails-ujs` no longer depends on jQuery).

One option is to use `(window.Rails || $.rails)` instead.

[2018-01-11 13:44] vjt commented on #61
Hi, sorry for the delay. I've pushed the sensible, suggested change, that should fix this issue. If all is well I can cut a new release.

[2018-01-14 00:06] dcecile commented on #61
I've tried out the fix and it looks good to me.

Before the fix (with `rails-ujs` before `jquery3`), `data-confirm-modal` failed to load, resulting in native modal popups. After the fix, `data-confirm-modal` loaded fine, and I get Bootstrap modal popups. :+1:

[2018-02-06 23:59] ketysek opened #63 "Does it work with rails 5.1 and Bootstrap 4?"
Hi, I've installed your library, then I've pasted it in application.js

`//= require jquery3
//= require popper
//= require bootstrap
//= require data-confirm-modal`

but it doesn't work. Every time I'm getting old, browser window just like without using your lib. Console is clear, without errors.

[2018-02-09 16:47] archonic opened #64 "MODAL: Option "backdrop" provided type "undefined""
I'm getting this with bootstrap 4:

MODAL: Option "backdrop" provided type "undefined" but expected type "(boolean|string)"

The link is just

    link_to 'Cancel account', registration_path(resource_name), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

I'm thinking the version of BS 4 I'm running changed the argument requirements. Looking at ata-confirm-modal.js, it

[2018-02-09 19:42] lvitals opened #65 "Control the confirmation event, to close the modal only when it succeeds"
Hi,
How can I control the confirmation event, to close the modal only when it succeeds?
Do not have any option to set the backdrop and keyboard?

ex.
$('#myModal').modal({backdrop: 'static', keyboard: false})

I noticed that every time he makes a confirmation executed

      modal.find('.commit').on('click', function () {
        if (options.onConfirm && options.onConfirm.call)
          options.o

[2018-02-12 11:15] marat-y opened #66 "Changing confirmation text only works once"
Hello!

I'm trying to dynamically change confirmation text. But dialog actually changes only the first time I change data-confirm value. Is there anything else I'm doing wrong or some event I need to trigger for this to work correctly?

I'm using v.1.3.0.

UPD. Updating to 1.6.1 made no effect.

[2018-02-27 20:27] chrilleferna opened #67 "//= require data-confirm-modal does not work after installing the gem"
I installed them gem and inserted the //= require data-confirm-modal in application.js
This resulted in a Sprocket error with message:
couldn't find file 'data-confirm-modal' with type 'application/javascript'

So I had to add the data-confirm-modal.js manually to my assets/javascripts directory :-(

[2018-03-02 04:33] mgrubb commented on #63
same here

[2018-03-02 11:17] vjt commented on #63
Will check this out asap.

[2018-03-10 04:48] mgrubb commented on #63
The latest HEAD from github works, but the Gem release (1.6.1) doesn't.  I'm guessing it's because the fix for issue #61 isn't included in that release.

[2018-03-10 10:05] vjt commented on #63
Thanks for the feedback. I will cut a new release today.

~Marcello
--
~ vjt@openssl.it
~ http://sindro.me/

[2018-03-10 11:09] vjt commented on #61
Released [v1.6.2](https://github.com/ifad/data-confirm-modal/tree/v1.6.2) on [RubyGems](https://rubygems.org/gems/data-confirm-modal/versions/1.6.2) and [npm](https://www.npmjs.com/package/data-confirm-modal).

Thanks for all the feedback!

[2018-03-10 11:09] #61 closed

[2018-03-10 11:10] vjt commented on #63
Released [v1.6.2](https://github.com/ifad/data-confirm-modal/tree/v1.6.2) on [RubyGems](https://rubygems.org/gems/data-confirm-modal/versions/1.6.2) and [npm](https://www.npmjs.com/package/data-confirm-modal).

Please reopen if you still encounter issues.

Thanks!

[2018-03-10 11:10] #63 closed

[2018-03-10 11:11] vjt commented on #67
Hello, this is bizarre. Did you restart the server after installing the gem? Care to provide the Rails version you're using?

Thanks

[2018-03-10 11:33] vjt commented on #66
Hi, sorry for the late reply.

When using [`data-` attributes](https://github.com/ifad/data-confirm-modal/#with-rails-example-b3-example-b4), the modal is built once by [buildModal](https://github.com/ifad/data-confirm-modal/blob/master/vendor/assets/javascripts/data-confirm-modal.js#L117) and then cached into the `confirm-modal` data attribute by [getConfirmModal](https://github.com/ifad/data-con

[2018-03-23 18:25] camilleroux commented on #64
Same error here. Can I help giving you more information?

[2018-03-23 18:44] archonic commented on #64
Because this gem basically just wraps one JS file, I took out that file, modified it for only supporting BS4, converted it to coffee and fixed the error seen here.

Here's the gist. https://gist.github.com/archonic/8a9392a005d0bc1ab621c69619825afe

I'll leave the issue open because I think this gem is broken out of the box for bootstrap 4 post-release.

[2018-06-19 01:53] nick123pig opened #68 "Uncaught Error: The bootstrap modal plugin does not have its version defined ?!?"
I've had an app running for a long time, but just started getting this error out of the blue

![image](https://user-images.githubusercontent.com/5910005/41571562-00c23d80-7331-11e8-888b-df570f01fec5.png)

At first, it was breaking functionality in my app. I then moved `data-confirm-modal` to the bottom of my application.js and things started working again, but I'm still getting the error in the js

[2018-08-09 18:48] milianriedel commented on #42
@chamnap Merged in https://github.com/ifad/data-confirm-modal/pull/69

[2018-08-15 18:55] joe4dev commented on #68
Bootstrap introduced the modal version definition with 3.2.0: `Modal.VERSION  = '3.2.0'`
https://github.com/twbs/bootstrap/blob/v3.2.0/js/modal.js#L33

=> Updating to Bootstrap >= 3.2.0 (or adding the VERSION definition) will fix the problem where data-confirm-modal fails to detect the Bootstrap version

[2018-11-16 12:47] sabatesduran commented on #67
It doesn't work for me either I follow the instructions and I restarted the server but I still get the same `js` console error:
[code]

[2018-11-20 08:14] letungit90 commented on #68
Add
[code]
before `<script src="/assets/data-confirm-modal.js"></script>`

[2018-11-29 16:21] adrianmann commented on #24
@cschulte22 Is there documentation for the classes you mentioned and any other ways of specifying styles in the confirm modal? I would like to change the size of the title text for example. Thanks.

[2019-01-14 17:16] jesusabarca commented on #67
I'm getting the same error as well when running `rails assets:precompile`

[2019-01-14 18:51] jesusabarca commented on #67
Nvm, the gem was included only for development and testing, that's why we were getting the error in production 😅

[2019-05-14 09:42] mayordwells opened #71 "In dataConfirmModal js implementation, verify-text, verifyText doesn't work"
I had to dig into the source code to check what works, then I found out that only `verifyLabel` works. 'verify-text' or verifyText doesn't work.
Works:
<img width="1278" alt="Screen Shot 2019-05-14 at 12 36 46 PM" src="https://user-images.githubusercontent.com/1370340/57688131-61f86300-7645-11e9-83f7-f3a785f570db.png">

Doesn't work:

<img width="1167" alt="Screen Shot 2019-05-14 at 12 40 34 PM" s

[2019-06-18 20:51] licatajustin opened #72 "XSS Vulnerability"
If the contents of the `data-confirm` attribute contain user-generated content, this library opens up the app to possible XSS vulnerabilities, which makes sense given [the use of the `html()` function](https://github.com/ifad/data-confirm-modal/blob/52b12473bb110e2437b06e262b0435741ceac75c/vendor/assets/javascripts/data-confirm-modal.js#L212) here.

Is it by design to allow `script` tags to execut

[2019-06-24 08:22] vjt commented on #72
Hi, many thanks for the heads up. I reviewed the approach in the forked repo, and as we all know [you can't parse [X|HT]ML with regexen](https://stackoverflow.com/a/1732454/69379).

There are some interesting solutions [here](https://stackoverflow.com/questions/6659351/removing-all-script-tags-from-html-with-js-regular-expression) and [here](https://gist.github.com/sindresorhus/1993156) and [here]

[2019-07-15 14:53] licatajustin commented on #72
@vjt, fair point -- `onerror` is certainly still an issue with the temporary patch I applied in the forked repo. What are your thoughts on adding a dependency like [DOMPurify](https://github.com/cure53/DOMPurify)?

[2019-07-31 14:10] zeroedin opened #73 "options.text vs options.verifyLabel"
`options.text` is added to modal as follows:

[code]
However `options.verifyLabel` is added like:

[code]

Could both of these inserts be normalized?  I am trying to add a class wrapper around some text in these inserted paragraphs to word break their content as my file names tend to be long and I'd rather not make the modal bigger if possible, instead just word breaking using css.  If possible I'

[2019-07-31 14:27] zeroedin opened #74 "verifyLabel should create a label tag instead of paragraph"
`options.verifyLabel` should create a `<label>` tag referencing the `<input>`.  The input will need also need a `name` attribute as well.

[code]

[2019-07-31 14:27] zeroedin commented on #73
Closing this issue, just realized i could eliminate my usage of the verify text and do this:

[code]

It does however bring up another issue.  Should verifyText create a `<label>` instead of a `<p>` tag?  I'll open a separate issue for that #74

[2019-07-31 14:27] #73 closed

[2019-09-13 17:22] kaydanzie opened #76 "modalCloseContent option doesn't appear to be working"
JSFiddle replicating issue: https://jsfiddle.net/zhuxdyfb/

In the fiddle, no matter what you put in `data-modal-close-content`, it doesn't change the default `&times;` content. Am I using it wrong?

Implementation is based on [this config option](https://github.com/ifad/data-confirm-modal/blob/master/vendor/assets/javascripts/data-confirm-modal.js#L125), and [this line](https://github.com/ifad/da

[2020-02-11 20:53] mattes opened #77 "Rails 6 compatibility (webpacker)"
This gem checks if `if (window.Rails || $.rails)` are defined. Which doesn't appear to be the case for Rails 6.

I updated `app/javascript/packs/application.js` to make `window.Rails` globally available:

[code]

Hope it helps.

[2020-02-11 21:37] vjt commented on #77
Thank you for this.

What would be the best way to check if Rails’ ujs is available with Rails 6, while maintaining backwards compatibility?

I don’t like to suggest users to pollute the global namespace :-).

Thanks,

[2020-02-19 20:20] JamesPlayer commented on #66
Hi, it looks like `$(..).getConfirmModal()` is not in the latest release (v1.6.2). Could you please release it when you get a chance?

[2020-02-24 08:55] vjt commented on #66
Hi @JamesPlayer,

`1.6.3` has been pushed to rubygems. Thanks for the heads up.

[2020-02-24 08:55] #66 closed

[2020-04-03 13:58] ksouthworth commented on #77
+1 for a way to make this Rails 6 compatible without adding a `window.Rails` global object

[2020-04-13 19:17] countalucard2022 commented on #77
Hmmm, using rails 6 to and not working.

Not sure if its the way data confirm modal was imported.

I just follow the instruction to add this //= require data-confirm-modal in the app/javascript/packs/application.js

and also added your suggestion. I don't have error in the console or anything it's just not working. Any work around?

[2020-04-25 15:02] tagliala commented on #77
I do not have write permissions to push a fix on the readme, but I can confirm that this gem works on Rails 6 / Webpacker.

Instructions:

[code]

Then add to `app/javascript/packs/application.js` after `require('@rails/ujs').start()`

[code]

`data-confirm-modal` gem is not necessary for webpacker usage

Example: diowa/ruby2-rails6-bootstrap-heroku@1a59af4

[2020-04-25 15:16] vjt commented on #77
@tagliala you know have access :-)

[2020-04-25 15:31] countalucard2022 commented on #77
will try the solution, thanks alot!

[2020-04-25 15:41] countalucard2022 commented on #77
@tagliala ,

Added the suggested steps

application.js
[code]
package.json:
[code]

but still on the the data-confirm still not showing up in modal, not sure which part did I made a mistake..

[2020-04-25 15:56] tagliala commented on #77
can you please share a github repo with the minimum amount of code to reproduce?

You may need some configuration from https://github.com/diowa/ruby2-rails6-bootstrap-heroku/blob/master/config/webpack/environment.js

[2020-04-25 16:54] countalucard2022 commented on #77
Ahhh, that's the cherry on top of ice cream, I've readded the same config you shared on my environments.js and it worked. It kinda mess my current modals but it's definitely working, thanks alot.

[2020-04-25 17:20] tagliala commented on #77
You're welcome

@countalucard2022 could you please share your previous configuration? did you expose `jquery`?

[2020-04-25 17:27] countalucard2022 commented on #77
@tagliala not completely related here. I pasted the config you have but before that I have these:
[code]
Yours have : ( on difference perspective)
[code]

Possible explain what's the difference? I'm calling jquery/src/jquery to handle my custom modals,  (rendering my partials to modal)
When I enter the solution for data-confirm-modal I'm getting this error:
`Uncaught ReferenceError: $ is not defin

[2020-04-25 19:23] tagliala commented on #77
Disclaimer: I'm not a node/javascript developer

ProvidePlugin is needed to automatically load the default export of the module, without the need to require it in every single javascript file.

In our case, we should autoload the same object for `$`, `jquery`, `jQuery`, and `window.jQuery`. It is important that they are the same because if you inspect the compiled application.js, you can see that

[2020-04-25 19:36] countalucard2022 commented on #77
@tagliala , thanks for the patience and explanation, all clear now. I will adjust my practice to fit on the hidden jquery, all worked fine now

[2020-04-25 20:10] vjt commented on #77
Thanks @tagliala. I believe a note on the README would be appropriate to not confuse other potential users.

Care to add some instructions to it?

Thank you,

[2020-06-24 17:58] #77 closed

[2020-07-09 15:26] mya-zaki opened #80 "Both the modal and the confirm-window are displayed on IE11."
Two windows are displayed when you click the link that has a data-confirm attribute.
Please see below.
<img width="300" alt="issue_ie11" src="https://user-images.githubusercontent.com/1501869/87057720-33bee500-c242-11ea-97ea-94ec2cf0a407.png">

Versions:
- Internet Explorer: 11
- Ruby: 2.6.5
- Rails: 5.2.4
- data-confirm-modal: 1.6.3
- Bootstrap: 4.4

[2020-07-19 23:56] leeadh opened #81 "model not showing"
I installed this using yarn for rails 6. I have this in my application.js

import 'bootstrap'
require('data-confirm-modal')
require("@rails/ujs").start()
require("turbolinks").start()
require("@rails/activestorage").start()
require("channels")
require("jquery")

However, when I try to test it, there is no modal coming up. it just  shows a blank. Any reason why?

[2020-07-20 07:24] tagliala commented on #81
Hi,

please take a look at our webpacker section in the readme: https://github.com/ifad/data-confirm-modal#webpacker

[2020-07-20 10:33] leeadh commented on #81
@tagliala i had already done that also... didnt work

[2020-07-20 10:46] tagliala commented on #81
Any chance to provide a reproducible test case?

[2020-07-20 11:34] leeadh commented on #81
sure... how can i provide u one?

[2020-07-20 12:45] tagliala commented on #81
@leeadh create a new repo on github with a basic rails application demonstrating the issue

I have a working test (Rails6/yarn/webpacker/BS4) here: https://github.com/diowa/ruby2-rails6-bootstrap-heroku/tree/test/test-data-confirm-modal

Relevant commit: https://github.com/diowa/ruby2-rails6-bootstrap-heroku/commit/26a0334e0735c1793f70f2098b22c2a17a476504

[2020-07-20 15:01] leeadh commented on #81
Hi @tagliala  i have done so : https://github.com/leeadh/reservation_system

[2020-07-20 17:33] tagliala commented on #81
Thanks @leeadh

I've spotted some errors, because the application is mixing BS3 (via css) and BS4 (via javascript), so data-confirm-modal is confused

Please fix the following:
- gem is not required when using with webpack, please remove this: https://github.com/leeadh/reservation_system/blob/master/Gemfile#L24
- please remove `bootstrap-sass` from gemfiles and all references to `bootstrap/sprocke

[2020-11-02 23:20] Halloran opened #82 "how to send the click event to #foo in the 'without rails, without data attributes' implementation"
The version that you illustrate for using this without rails and without data attributes, shows the onConfirm and onCancel events popping alert messages. Is it possible to show what would be the correct callbacks to use to get the behavior of a normal confirmation: i.e. onConfirm would send the click event to #foo, and the onCancel event would simply close the confirmation dialog.

I'm sure I'm mi

[2020-11-02 23:21] vjt commented on #82
Sorry I don't understand your use case, care to reproduce it on jsfiddle or describe it with some code here?

[2020-11-02 23:42] Halloran commented on #82
I am calling this confirm from a modal form, where the id of the submit button is 'orderSubmitButton'
My Js is properly bringing up the confirm modal, but I cannot figure out how to specify the onConfirm callback such that it closes the confirmation dialog AND SUBMITS THE FORM

`<%= f.submit @button_text, class: "btn btn-primary", disable_with: 'Processing', id: 'orderSubmitButton' %>`

`
var link

[2020-11-02 23:43] Halloran commented on #82
[and many thanks for responding quickly!]

[2020-11-03 00:10] vjt commented on #82
OK I understand your use case now. If you want to leep the current structure, you should $() your form and .submit() it from the onConfirm callback.

Otherwise, you could ditch this structure and have two
separate links with two totally different modals attached to them, and show/hide the links when changing the selected value in the selectList dropdown.

HTH,

Marcello
--
// vjt@openssl.it
// htt

[2020-11-03 00:12] Halloran commented on #82
Thanks. I'll give that a go.

[2020-11-03 01:33] #82 closed

[2020-11-03 01:43] vjt commented on #82
yes that works. I would have re-used the form action by reading it from the form tag, or avoided this altogether with the previous hint - however what works for you is ok :-)

Kind regards,

Marcello
--
// vjt@openssl.it
// https://sindro.me/

[2020-11-04 14:35] jamgregory commented on #66
@vjt - please could you push the latest version to npmjs? It doesn't look like it has been updated there. Thanks! :+1:

[2020-11-28 18:29] cpapidas commented on #81
I had the same problem 👍

[2021-02-12 15:09] badstorm opened #83 "Bootstrap 5 and Vanilla JS"
Hi, has anyone already started converting this to Vanilla JS for support for the next Bootstrap 5?

[2021-02-13 13:41] tagliala opened #84 "Published npm package includes unwanted data"
- Gemfile.lock
- pkg folder with previous versions of the gem (from 1.3.0 to 1.6.2)

[2021-02-13 14:17] #84 closed

[2021-02-13 18:15] tagliala commented on #80
Hi,

apologies for the late reply.

I can confirm the issue. It only happens when using webpacker

[2021-02-14 10:00] tagliala commented on #80
@vjt with latest versions `@rails/ujs`, it is possible to override `Rails.confirm`.

Instead of

https://github.com/ifad/data-confirm-modal/blob/139459fb5be2821818bcb138460919aee5d8b1b5/vendor/assets/javascripts/data-confirm-modal.js#L315-L355

we could write:

[code]

It also works on IE11, FWIW

[2021-02-20 17:31] RailsCod3rFuture commented on #68
any fix for bootstrap 5.0.0 beta?

[2021-02-20 18:57] tagliala commented on #83
Hi @badstorm,

nope, sorry.

I will not work on this anytime soon. I've did some experiments. As far as I can tell, without jQuery we need to rewrite stuff or depend on third party libraries.

Are you interested in contributing with a PR?

[2021-02-20 18:58] tagliala commented on #68
Hi @RailsCod3rFuture , please use #83 for newer bootstrap support

[2021-02-20 19:09] badstorm commented on #83
Hi @tagliala, since i need to implement a non jquery version in one of my project I can try to work on it. If you add a branch with your experiments I can take a look and try to work on it (in my free time)

[2021-02-20 19:35] tagliala commented on #83
I've dropped everything except the code you can see in this comment: https://github.com/ifad/data-confirm-modal/issues/80#issuecomment-778754980

Anyway, I would like to perform the following steps for this gem:

1. Add [rollup.js](https://rollupjs.org/) to generate distributable files. [Example](https://github.com/DavyJonesLocker/client_side_validations-simple_form/blob/main/rollup.config.js)
2.

[2021-02-20 19:36] tagliala commented on #81
Closing here as per https://github.com/ifad/data-confirm-modal/issues/81#issuecomment-661224632

[2021-02-20 19:36] #81 closed

[2021-03-11 11:47] ChristofferJoergensen opened #86 "Console error: The bootstrap modal plugin does not appear to be loaded"
I am migrating from Rails 5.2 with the asset pipeline to Rails 6.1.3 with webpacker.

I want to use Bootstrap 5.0.0-beta2 and data-confirm-modal 1.6.2.

I believe I have the proper configuration according to the docs, but I keep getting this in my browser console:

[code]

But the modal plugin is available, because I can trigger modals. Any idea what is happening?

This is my configuration:

[code

[2021-03-11 12:35] tagliala commented on #86
Hi, thanks for the report

We do not support Bootstrap 5 yet, as per #83. Let's use that other thread

We should do some other changes before supporting BS5
ifad/data-confirm-modal/issues/83#issuecomment-782737822

I can confirm that data-confirm-modal still works with Rails 6.1.3 / Webpacker 5 / Bootstrap 4.6.0 / jQuery 3.6.0

Here it is a demo repository: https://github.com/diowa/ruby3-rails6-bo

[2021-03-11 12:35] #86 closed

[2021-03-11 13:16] ChristofferJoergensen commented on #86
Oh I see. Thanks for clarifying.

[2021-03-13 14:40] tagliala commented on #83
This is an experimental working version with Bootstrap 5 **AND** jQuery

https://github.com/diowa/ruby3-rails6-bootstrap-heroku/blob/experimental/data-confirm-modal-rails-confirm-bs5/app/javascript/src/data-confirm-modal.js

[2021-03-17 16:33] jdsampayo commented on #83
In a project that is not using Webpack, added the solution of @tagliala in location `vendor/assets/javascripts/data-confirm-modal.js` and replaced:

[code]

for:
[code]

and it worked.

[2021-03-17 17:02] tagliala commented on #83
Hi,

I think it's because

is being triggered after `onDOMContentLoaded`, so Bootstrap had the chance to define modal inside jQuery

[2021-04-29 13:28] tagliala opened #89 "Remove `false` class from modal"
![image](https://user-images.githubusercontent.com/556268/116558163-6fc15480-a8ff-11eb-8149-005a980f4dd2.png)

https://github.com/ifad/data-confirm-modal/blob/master/vendor/assets/javascripts/data-confirm-modal.js#L49

should be `''`

[2021-04-30 08:03] #89 closed

[2021-06-16 12:51] stormenergy91 commented on #83
I'm trying to rewrite your [experiment version](https://github.com/diowa/ruby3-rails6-bootstrap-heroku/blob/experimental/data-confirm-modal-rails-confirm-bs5/app/javascript/src/data-confirm-modal.js) in ES6 with no jQuery support. I have a onRails project that use `rails-ujs` where we dropped support for jQuery.

But In ES6 modules are imported readonly and so I don't know how to extend the origin

[2021-06-16 13:44] tagliala commented on #83
@stormenergy91

can you share the error you are getting?

[2021-08-03 18:51] danzanzini opened #92 "Modal is "visible" before spawning"
https://www.chromestatus.com/feature/5148698084376576 Since chrome now [prevents alert dialogs from embedded applications](), I'm trying to use `data-confirm-modal` to replace all dialogs from my application.

I could install the gem but, at first, **it removed the dialog but the modal didn't show up, and the action was confirmed even without the user accepting it.**

I did some investigation and

[2021-08-03 19:15] tagliala commented on #92
Hi

Could you please clarify "embedded applications"?

Which version of chrome? Any chance to see a reproducible test case?

I cannot replicate here: https://output.jsbin.com/lejopuq/ (chrome Version 92.0.4515.107 (Official Build) (x86_64) / macOS 11.5.1)

[2021-08-03 19:21] danzanzini commented on #92
Hi @tagliala. Just figured out that this app is using a mix of Bootstrap 2 and 3. I've changed to the bootstrap 2 version and it works as expected.

Sorry for the inconvenience and thanks for the quick response. I'm closing this issue :)

[2021-08-03 19:21] #92 closed

[2021-08-03 20:44] tagliala commented on #92
You're welcome, glad you solved

[2021-08-25 07:01] Bodata opened #93 "data-confirm-modal: The bootstrap modal plugin does not appear to be loaded"
I asked this question on stackoverflow... but perhaps the question better should be asked here.

I have been at this for a day now, i seem to be running in circels.

Rails 6 project with webpacker using bootstrap and jquery

ruby 2.7.4
rails 6.0.4.1
jquery 3.6.0
bootstrap 5.1.0
and data-confirm-modal 1.6.2

When the page loads the chrome debugger tells me: Uncaught Error: The bootstrap modal plugi

[2021-08-25 07:14] tagliala commented on #93
Hi, `data-confirm-modal` does not support Bootstrap 5

Please check #83, you will find a workaround

Hope it helps

Closing here

[2021-08-25 07:14] #93 closed

[2021-08-25 07:23] Bodata commented on #93
Ok..  that was quick ;-)  Thanks.

So if i downgrade to bootstrap 4 this problem should disapear ?
The jquery 3.6.0 is ok our should i downgrade also ?

regards,
Peter

[2021-08-25 07:26] tagliala commented on #93
BS4 should work. Otherwise you can use the experimental and unsupported file linked in #83

jQuery should not be an issue for data-confirm-modal

[2022-09-14 17:36] Halloran commented on #66
same here...